<div id="logs_estados">
	<table>
		<caption>
			Registro de Estados
		</caption>
		<tr>
			<th>Estado</th>
			<th>Motivo</th>
			<th>Desde</th>
		</tr>
	<% logs.each do |l| %>
		<tr>
			<td class="estado"><%= l.estado_log %></td>
			<td class="motivo"><%= l.motivo %></td>
			<td class="desde"><%= l.created_at.to_s(:short_date_time) %></td>			
		</tr>
	<% end %>
	</table>

	<%= logs_estado_pagination logs, model_name %>
</div>
