// Place all the styles related to the Moviles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$verde: 			#468966;
$crema: 			#fff0a5;
$ocre: 				#ffb03b;
$naranja: 			#b64926;
$rojo: 				#8e2800;
$font-stack1-:		verdana, arial, helvetica, sans-serif;
$font-stack1: 		Trebuchet, Tahoma, Arial, sans-serif;
$font-stack2-: 		arial, helvetica, sans-serif;
$font-stack2: 		Futura, 'Century Gothic', AppleGothic, sans-serif;
$font-stack-body: 	Garamond, 'Hoefler Text', 'Times New Roman', Times, serif;

#propietario_detail span {
	display: block;
}

#details {
	display: inline-block;
	float: none;
}

#logs_estados {
	display: block;
	float: right;
  padding-right: 10px;
  padding-top: 10px;
  width: 35%;
	table {
		border-collapse: collapse;
		font-family: $font-stack1;
		font-size: 0.75em;
		line-height: 1.25em;
		margin-top: 20px;
		width: 100%;
		caption {
			background-color: $verde;
			color: $crema;
			font-weight: bold;
			font-size: 1.25em;
			line-height: 1.5em;
		}
		th, td {
			border: 1px solid $verde;
			font-size: 1.1em;
			line-height: 1.5em;
			padding: 0 3px;
		}
		th {
			background-color: $crema;
			color: $verde;
			font-weight: bold;
			text-align: center;
		}
		td {
			&.estado, &.motivo {
				text-align: left;	
			}
			&.estado {
				width: 20%;
			}
			&.motivo {
				width: 47%;
			}
			&.desde {
				text-align: center;
				width: 27%;
			}			
		}
	}
}

#motivo_estado {
	background-color: #efefef;
	border-radius: 5px;
	display: none;
}

.visible {
  display: block !important;
  visibility: visible !important;	
}

#details p strong {
    display: inline-block;
    min-width: 100px;
}